*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter, sans-serif;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 8%;
background:#020617;
}

nav h2{color:#38bdf8;}
nav a{color:white;text-decoration:none;margin-left:20px;}
nav a:hover{color:#38bdf8;}

section{padding:80px 8%;}

.hero{
display:flex;
flex-wrap:wrap;
align-items:center;
justify-content:space-between;
}

.hero img{
width:320px;
border-radius:20px;
box-shadow:0 0 30px rgba(56,189,248,0.4);
}

.btn{
display:inline-block;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
margin-top:20px;
margin-right:10px;
}

.primary{background:#25D366;color:black;}
.secondary{border:2px solid #38bdf8;color:#38bdf8;}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.card{
background:#020617;
padding:20px;
border-radius:12px;
}

iframe{
width:100%;
height:420px;
border:none;
border-radius:12px;
background:black;
}

footer{
text-align:center;
padding:25px;
background:#020617;
margin-top:40px;
color:#94a3b8;
}
